<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">LearnJS.online</a>
  <button (click)="isNavbarCollapsed = !isNavbarCollapsed" class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" *ngIf="userSvc.isLoggedIn" [routerLink]="['/profile']">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/lessons']">Lessons</a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer" *ngIf="!userSvc.isLoggedIn" (click)="openLoginModal()">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer" *ngIf="userSvc.isLoggedIn" (click)="userSvc.logout()">Logout {{userSvc.user.name}}</a>
      </li>
    </ul>
  </div>
</nav>


