<div *ngIf="userSvc.isLoggedIn" class="card">
  <div class="card-header text-white bg-primary"><i class="fa fa-terminal"></i> {{ user.name }}</div>
  <div class="card-body">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://via.placeholder.com/128x64" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">{{user | json}}.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!userSvc.isLoggedIn" class="alert alert-info">
  You're not currently logged in.
</div>
